@import "../../scss/variables";

.language_list{

	li{
		padding: 2px;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 14px;
		line-height: 15px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: $mainColor;
		color: #fff;
		text-transform: uppercase;
		margin: 0 10px 0 0;
		position: relative;
		z-index: 1;

		&:before{
			content: '';
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border: 2px solid $mainColor;
			opacity: 1;
			border-radius: 50%;
			z-index: -1;
			pointer-events: none;
		}
		&:hover{
			&:before {
				transition: 0.4s width ease-in-out, 0.4s height ease-in-out, 0.4s opacity ease-in-out;
				width: 100px;
				height: 100px;
				opacity: 0;
			}
		}
	}
}
