.person_item{
	border-bottom: 1px solid #808080;
	background: #f0f8ff;
	transition: .1s transform ease-in-out, .1s opacity ease-in-out, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: scaleX(1) translateY(-20px);
	opacity: 0;
	will-change: transform;

	&.visible{
		transform: translateY(0);
		opacity: 1;
	}
	&:hover{
		transform: scaleX(1.02);
		z-index: 1;
		position: relative;
	}
	&.preview{
		display: flex;
		width: 100%;
		margin: 0 0 10px;
		border: none;
		box-shadow: 0 2px 10px 0 rgba(50, 50, 50, .5);
		position: relative;

		.person_item_content{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding: 30px 40px 30px 30px;

			&>div{
				width: 100%;
				margin: 0 0 5px;
			}
			.favourite{
				position: absolute;
				right: 15px;
				top: 15px;
			}
		}
		&.video{
			flex-wrap: wrap;
			.video_holder,
			.person_item_content{
				width: 50%;
				flex-shrink: 0;
			}
			.person_item_content{
				.favourite{
					position: absolute;
					right: calc(50% + 15px);
					top: 15px;
				}
			}
		}
	}
	.person_item_content{
		padding: 20px 15px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&>div{
			width: 30%;
			flex-shrink: 0;
		}
		.favourite{
			width: 10%;
			text-align: right;
			opacity: 0.5;

			&.isFavourite{
				opacity: 1;

				span{
					img.hidden_image{
						opacity: 0;
						transform: translate(-50%, -50%) scale(2.1);
					}
				}
			}
			span{
				display: inline-block;
				vertical-align: top;
				cursor: pointer;
				position: relative;

				img{
					width: 20px;
					height: 20px;
				}
				img.hidden_image{
					opacity: 1;
					position: absolute;
					left: 50%;
					top: 50%;
					transition: .4s transform ease-in-out, .4s opacity ease-in-out;
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
	}
}
.photo_holder{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	background: #808080;
	margin: 0 15px 0 0;
	flex-shrink: 0;

	img{
		object-fit: cover;
	}
}
.person_short_info{
	display: flex;
	align-items: center;
}
.video_holder{
	video{
		display: block;
		width: 100%;
		height: auto;
		max-height: 100%;
	}
}

@media screen and (max-width: 600px) {
	.person_item{
		&_content{
			flex-wrap: wrap;
		}
		&.preview{
			.person_item_content{
				padding: 15px 20px;
			}

			&.video{
				.person_item_content{
					padding: 15px 20px;
				}
				.video_holder,
				.person_item_content{
					width: 100%;
					flex-shrink: 0;
				}
				.person_item_content{
					.favourite{
						position: absolute;
						right: 15px;
						top: 15px;
					}
				}
			}
		}
	}
	.photo_holder{
		display: none;
	}
}
