@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "./variables";

html{
	height: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body{
	margin: 0;
	color: $mainTextColor;
	font: 14px/18px 'Roboto', Arial, Helvetica, sans-serif;
	background: #fff;
	min-width: 320px;
	height: 100%;
}
img{
	border-style: none;
	vertical-align: top;
}
a{
	color: #000;
	outline: none;
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}
}
*{
	outline: none;
}
input:not([type="checkbox"]):not([type="radio"]), textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	-webkit-appearance: none;
}
form, fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
textarea{
	overflow: auto;
}
header,
nav,
section,
main,
article,
aside,
footer,
figure,
menu,
dialog{
	display: block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
p{
	margin: 0 0 20px;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 20px;
	font-weight: normal;
}
input::-webkit-input-placeholder 			{opacity: 1; color: #fff;}
input::-moz-placeholder 					{opacity: 1; color: #fff;}
input:-moz-placeholder 						{opacity: 1; color: #fff;}
input:-ms-input-placeholder 				{opacity: 1; color: #fff;}
input:focus::-webkit-input-placeholder 		{opacity: 0;}
input:focus::-moz-placeholder				{opacity: 0;}
input:focus:-moz-placeholder				{opacity: 0;}
input:focus:-ms-input-placeholder			{opacity: 0;}
textarea::-webkit-input-placeholder 		{opacity: 1;}
textarea::-moz-placeholder 					{opacity: 1;}
textarea:-moz-placeholder 					{opacity: 1;}
textarea:-ms-input-placeholder 				{opacity: 1;}
textarea:focus::-webkit-input-placeholder 	{opacity: 0;}
textarea:focus::-moz-placeholder			{opacity: 0;}
textarea:focus:-moz-placeholder				{opacity: 0;}
textarea:focus:-ms-input-placeholder		{opacity: 0;}

#wrapper{
	overflow: hidden;
}
.center{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;

	&:after{
		content: '';
		display: table;
		clear: both;
	}
}
.main_header{
	padding: 20px 0;
	margin: 0 0 20px;
	box-shadow: 0 6px 15px 0 rgba(0,0,0,0.07);
}
.sort_wrapper{
	margin: 0 -20px 30px;
	display: flex;
	flex-wrap: nowrap;
}
.sort_holder{
	width: 50%;
	padding: 0 20px;
	box-sizing: border-box;
}
.title_block{
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin: 0 0 15px;
}

@media screen and (max-width: 600px) {
	.sort_wrapper{
		display: block;
	}
	.sort_holder{
		display: block;
		width: auto;
	}
}
