@import "../../scss/variables";

.sort_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -10px;

	li{
		width: 33.333%;
		margin: 0 0 8px;
		padding: 0 10px;
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-grow: 1;
		color: #fff;


		display: inline-block;
		vertical-align: top;
		position: relative;

		&.active{
			span{
				opacity: .5;
			}
		}
		span{
			cursor: pointer;
			border-radius: 3px;
			box-shadow: 0 6px 8px 0 rgba(0, 0, 0, .1);
			background: $mainColor;
			display: block;
			padding: 10px 5px;
			opacity: 1;
			transition: 0.2s box-shadow ease-in-out, 0.2s opacity ease-in-out;

			&:hover{
				opacity: .8;
			}
			&:active{
				box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0);
			}
		}
		input{
			display: block;
			width: 100%;
			background: none;
			border: none;
			text-align: center;
			color: #fff;
		}
	}
}
